/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 15px;
	min-width: 200px;
	text-decoration: none;
	white-space: normal;

	&:focus,
	&.focus {
		box-shadow: none;
	}
}

.btn-primary {
	@include button-variant($gold, $gold, $blue, $blue, $gold);

	color: black;

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	.show > &.dropdown-toggle {
		border-color: coral;

		&:focus {
			box-shadow: none;
		}
	}

	&:focus,
	&.focus {
		box-shadow: none;
	}
}

.btn-secondary {
	@include button-variant($blue, $blue, $gold, $gold, $blue);

	color: $white;

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	.show > &.dropdown-toggle {
		&:focus {
			box-shadow: none;
		}
	}

	&:focus,
	&.focus {
		box-shadow: none;
	}
}
