/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */

.contacts {
	position: relative;

	&__info {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		display: flex;
		align-items: center;
		padding: 20px;
		width: 450px;
		bottom: 0;
		background-color: $blue;
		color: $white;
		overflow: hidden;

		&:after {
			content: '';
			position: absolute;
			bottom: -30px;
			right: 0;
			background-image: url(../../assets/images/temp/bubbles.png);
			width: 200px;
			height: 200px;
		}

		ul {
			padding-left: 0;
			list-style-type: none;

			a {
				color: $white;
			} 
		}

		li + li {
			margin-top: 20px;
		}

		li svg {
			margin-right: 10px;
		}
	}	
	
	&__map {
		&:after {
			display: block;
			height: 450px;
			content: '';
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

/* === Tablet === */
@include media-breakpoint-down(md) {
	.contacts {
		display: flex;

		&__info {
			position: relative;
			top: auto;
			left: auto;
			bottom: auto;
			width: 50%;
		}

		&__map {
			position: relative;
			width: 50%;
		}
	}
}

/* === Mobile === */
@include media-breakpoint-down(sm) {
	.contacts {
		display: block;

		&__info {
			width: 100%;

			&:after {
				display: none;
			}
		}

		&__map {
			width: 100%;

			&:after {
				height: 300px;
			}
		}
	}
}
