/* ------------------------------------------------------------ *\
	Tag
\* ------------------------------------------------------------ */

.tag {
	display: inline-flex;
	padding: 5px 20px;
	border-radius: 25px;
	margin-bottom: 15px;
	background-color: rgba($blue, .8);
	font-size: 14px;
	color: $white;
	font-weight: 500;
}
