/* ------------------------------------------------------------ *\
	Testimonials
\* ------------------------------------------------------------ */

.testimonial {
	padding: 0 50px;
	text-align: center;
	color: $blue;

	&__icon {
		margin-bottom: 20px;
	}

	&__name {
		margin-top: 10px;
	}
}
