<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="logo">
				<img src="assets/images/temp/logo.png" alt="Лого" width="200" height="108">
			</a>

			<button class="nav-btn js-nav-btn">
				<span></span>
				
				<span></span>
				
				<span></span>
			</button>

			<nav class="nav">
				<ul>
					<li>
						<a class="js-scroll-to-section" href="#about">За нас</a>
					</li>

					<li>
						<a class="js-scroll-to-section" href="#process">Работен процес</a>
					</li>
					
					<li>
						<a class="js-scroll-to-section" href="#services">Услуги</a>
					</li>
					
					<li>
						<a class="js-scroll-to-section" href="#testimonials">Отзиви</a>
					</li>
					
					<li>
						<a class="js-scroll-to-section" href="#clients">Клиенти</a>
					</li>
					
					<li>
						<a class="js-scroll-to-section" href="#contacts">Контакти</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.header__inner -->
	</div><!-- /.container -->
</header><!-- /.header -->
