<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="logo">
				<img src="assets/images/temp/logo.png" alt="Лого" width="200" height="108">
			</a>

			<button class="nav-btn js-nav-btn">
				<span></span>
				
				<span></span>
				
				<span></span>
			</button>

			<nav class="nav">
				<ul>
					<li>
						<a href="#">За нас</a>
					</li>

					<li>
						<a href="#">Работен процес</a>
					</li>
					
					<li>
						<a href="#">Услуги</a>
					</li>
					
					<li>
						<a href="#">Отзиви</a>
					</li>
					
					<li>
						<a href="#">Клиенти</a>
					</li>
					
					<li>
						<a href="#">Контакти</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.header__inner -->
	</div><!-- /.container -->
</header><!-- /.header -->
